header {
  font-weight: bold;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

img {
    position: relative;
    float: center;
    width:  400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.form-errors {
	color: red;
}

ul {
  list-style-type: none;
}
li{
  margin: 20px 0;
}
